header {
    text-align: center;
    background-color: rgb(48, 89, 221);
    color: white;
    padding: 15px;
    font-size: 125%;
  }
  main {
    font-size: 130%;
    padding-left: 250px;
    padding-right: 250px;
  }
  table {
    width:80%;
    text-align: center;
   
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
  th, td {
    padding: 15px;
    
  }
  th {
    background-color:rgb(48, 89, 221);
    color: white;
  }
  #t01 tr:nth-child(even) {
    background-color: #eee;
  }
  #t01 tr:nth-child(odd) {
   background-color: #fff;
  }

  .dark {
    background-color: darkgray;
  }
  .otazka {
    color: blue;
    background-color: darkgray;
  }